body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

p {
  line-height: 2;
}

span {
  color: orange;
  
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  width: 5%;
}

hr {
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100, auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Norican', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 15px;
}

h3 {
  color: #11999E;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.Ali-img {
  margin: 100 0 100 0;
  border-radius: 50%;
}

.Top-container {
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.Pro {
  text-decoration: underline;
}

.Intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 100%;
  margin: 40px auto 60px;
  text-align: center;
}

.contact-message {
  width: 100%;
  margin: 40px auto 60px
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 200px;
  width: 25%;
}

.bottom-cloud {
  position: relative;
  right: 5px;
  bottom: 500;
  border-radius: 50%;
  width: 5%;
}

.web-development-img {
  position: relative;
  left: 0px;
  bottom: 500;
  height: 150%;
  width: auto;
}

.computer-img {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.computer-img2 {
padding-bottom: 60px;
  width: 50%;
  float: right;
  margin-left: 30px;
}

.computing{
  padding: 20px auto;
}

.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-skill {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.front-end-web-develop {
  width: 100%;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
